.App {
  text-align: center;
}

.ext1 .message {
      border-bottom: 1px solid #DADADA;
      padding: 0px 0;
  }

.ext1 .message:hover {
          background: blue;
          cursor:pointer;
      }

.App-header li {
  float:left;
  padding:10px;
}

div.ex1 {
  padding:50px 50px;
  text-align:justify;
  background-color:#DADADA;
  overflow: auto;
  max-height: calc(70vh - 370px);
  width: 50%;
  overflow-y: scroll;
  color:black;
  position:absolute;
  left:22%;
  top:65%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.show{
  display: block;
}
.contentwrapper{
  padding:0px;
  position:absolute;
  right:0px;
  background: burlywood;
  display:none;
  width:150px;
}
.description{
height:100px;
background:red;
}
.image{
height:70px;
background:blue;
margin-bottom:10px;
}
.child2wrapper{
  height:50%;
  width:50%;
  background:#b3b3b3;
  position:absolute;
  top:10%;
  left:30%;
}
.child2wrapper p:hover{
  cursor:pointer;
  color:whitesmoke;
}
#register{
  text-align:center;
  background: #a19a9a;
  width:50%;
position: absolute;
left:30%;
}
#register input{
  padding:5px;
  margin:10px;
}

